.characterItemWrapper,.characterSelectedItemWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    border-top: 1px solid gray;
}

.characterSelectedItemWrapper{
    background-color: dimgray;
}

.characterItemWrapper:hover,.characterSelectedItemWrapper:hover {
    background-color: darkslategray;
    cursor: pointer;
}

.light:hover {
    background-color: lightgray;
}

.name {
    font-weight: bold;
}

.status {
    color: darkcyan;
}

.species {
    color: orange;
}