.button {
    width: 100px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 10px;
    line-height: 10px;
    color: tomato;
}

.wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;

    gap: 6px;

}