.searchWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.resultsWrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 100vw;
}

.empty {
    width: 400px;
}

.light {
    background-color: white;
    color: black;
}
